# Auto detect text files and perform LF normalization
* text=auto
/health_area_adjuster/modular_health_area_app/data/friction/somalia_friction_100m.tif filter=lfs diff=lfs merge=lfs -text
/health_area_adjuster/modular_health_area_app/data/friction/somalia_population_cost_100m.tif filter=lfs diff=lfs merge=lfs -text
/health_area_adjuster/modular_health_area_app/data/osm_inputs/cache/geofabrik_somalia-latest.gpkg filter=lfs diff=lfs merge=lfs -text
/health_area_adjuster/modular_health_area_app/data/osm_inputs/cache/geofabrik_somalia-latest.osm.pbf filter=lfs diff=lfs merge=lfs -text
/health_area_adjuster/modular_health_area_app/data/osm_inputs/somalia_roads.gpkg filter=lfs diff=lfs merge=lfs -text
/health_area_adjuster/modular_health_area_app/data/friction/01_population_cost.tif filter=lfs diff=lfs merge=lfs -text
/health_area_adjuster/modular_health_area_app/data/friction/02_after_roads.tif filter=lfs diff=lfs merge=lfs -text
/health_area_adjuster/modular_health_area_app/data/friction/03_after_rivers.tif filter=lfs diff=lfs merge=lfs -text
/health_area_adjuster/modular_health_area_app/data/friction/04_after_bridges.tif filter=lfs diff=lfs merge=lfs -text
/health_area_adjuster/modular_health_area_app/data/friction/05_after_water.tif filter=lfs diff=lfs merge=lfs -text
/health_area_adjuster/modular_health_area_app/data/friction/06_after_boundary.tif filter=lfs diff=lfs merge=lfs -text
